.juzhong {
    margin: 0 auto;
}


.allbox {
    background-color: #ffffff;
}


.head {
    display: flex;
    align-items: center;
    width: 1200px;
    height: 100px;
    background-color: #ffffff;
}

.head .logo {
    display: block;
    /* text-align: center; */
    width: 195px;
	height: 41px;
    background-image: url(../images/logo.png);
    background-repeat: no-repeat;
    /* background-position: left center; */
    font-size: 0;
    margin-right: 102px;
}

.head ul {
    display: flex;
}

.head ul li {
    /* display: block; */
    padding-left: 8px;
    padding-bottom: 8px;
    padding-right: 8px;
    margin-right: 24px;
    /* width: 54px; */
    height: 35px;
    font-size: 19px;
    line-height: 27px;

}

.head ul li:first-child {
    border-bottom: 2px solid #00a4ff;
}

.head ul li:hover {
    border-bottom: 2px solid #00a4ff;
}

.head .input1 {
    display: flex;
    margin-left: 64px;
    /* padding-top: 10px;
    padding-bottom: 10px; */
    padding-left: 19px;
    padding-right: 12px;
	width: 412px;
	height: 40px;
	background-color: #f3f5f7;
	border-radius: 20px;
}

.head .input1 .input2 {
    width: 365px;
    height: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 0;
    background-color: #f3f5f7;
    outline: none;
}

.head .input1 .searchpic {
    display: block;
    width: 16px;
    height: 16px;
    margin-top: 12px;
    background-image: url(../images/search.png);
    background-repeat: no-repeat;
    font-size: 0;
}

.head .user1 {
    margin-left: 32px;
    width: 30px;
    height: 30px;
}

.head .user2 {
    margin-left: 7px;
    padding-top: 4px;
    padding-bottom: 4px;
    width: 79px;
    height: 30px;
    color: #666666;
}

.banner {
    /* width: 1920px; */
	height: 420px;
    background-color: #0092cb;
}

.banner .bannerbox {
    display: flex;
    margin: 0 auto;
    width: 1200px;
}

.banner ul {
    padding-top: 3px;
    padding-bottom: 3px;
    width: 191px;
    height: 420px;
    background-color: #005576;
}

.banner ul li {
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 13px;
    width: 191px;
    height: 46px;

}

.banner ul li a {
    display: block;
    width: 151px;
    height: 23px;
    font-size: 16px;
    color: #ffffff;
    background-image: url(../images/right.png);
    background-repeat: no-repeat;
    background-position: right center;
}


.banner ul .first {
    color: #00a4ff;
    background-image: url(../images/right-hover.png);
    background-repeat: no-repeat;
    background-position: right center;
}

.banner ul li a:hover {
    color: #00a4ff;
    background-image: url(../images/right-hover.png);
    background-repeat: no-repeat;
    background-position: right center;
}

.banner .bannerbox .bannerpic {
    width: 794px;
}

.banner .bannerbox .classbox {
    width: 218px;
    height: 305px;
    background-color: #209dd5;
    border-radius: 10px;
    /* background-color: #ffffff; */
    margin-top: 60px;
}

.banner .bannerbox .classbox .classboxh {
    height: 48px;
    /* background-color: #209dd5; */
    /* border-radius: 10px; */
    padding-top: 18px;
    padding-left: 14px;
}

.banner .bannerbox .classbox .classboxh h3 {
    width: 75px;
	height: 21px;
    font-size: 15px;
    color: #ffffff;
    font-weight: 400;
}

.banner .bannerbox .classbox .classboxcontent .classboxcontentc {
    padding-top: 14px;
    padding-left: 14px;
    padding-right: 14px;
    width: 218px;
	height: 257px;
	background-color: #ffffff;
	border-radius: 10px
}

.banner .bannerbox .classbox .classboxcontent .classboxcontentc dl {
    margin-bottom: 12px;
    width: 190px;
	height: 53px;
    border-bottom: 1px solid #e0e0e0;
}

.banner .bannerbox .classbox .classboxcontent .classboxcontentc dl dt {
    width: 190px;
	height: 20px;
    font-size: 14px;
    color: #333333;
    font-weight: 700;
}

.banner .bannerbox .classbox .classboxcontent .classboxcontentc dl dd {
    margin-top: 8px;
    width: 190px;
	height: 17px;
    color: #00a4ff;
    font-size: 12px;
}

.banner .bannerbox .classbox .classboxcontent .classboxcontentc dl dd span {
    color: #7d7d7d;
}

.banner .bannerbox .classbox .classboxcontent .classboxcontentc .classboxcontentbottom {
    display: block;
    margin-top: 2px;
    padding: 6px 67px;
    width: 190px;
	height: 32px;
	background-color: #00a4ff;
	border-radius: 15px;
}

.banner .bannerbox .classbox .classboxcontent .classboxcontentc .classboxcontentbottom .classboxcontentbottomdiv {
    width: 56px;
	height: 20px;
    font-size: 14px;
    color: #ffffff;
}

.recommandbox {
    margin-top: 12px;
    padding: 18px 20px;
    width: 1200px;
	height: 60px;
	background-color: #ffffff;
	box-shadow: 0px 1px 2px 0px 
		rgba(211, 211, 211, 0.5);
}

.recommandbox .recommandboxcontent {
    display: flex;
    width: 1160px;
	height: 25px;
}

.recommandbox .recommandboxcontent .recommandboxcontentdiv1 {
    width: 72px;
	height: 25px;
    font-size: 18px;
    color: #00a4ff;
}

.recommandbox .recommandboxcontent .recommandboxcontentdiv2 {
    margin-left: 20px;
    width: 911px;
	height: 25px;
}

.recommandbox .recommandboxcontent .recommandboxcontentdiv2 ul {
    display: flex;
}

.recommandbox .recommandboxcontent .recommandboxcontentdiv2 ul li {
    /* display: flex; */
    margin-right: 24px;
    width: 113px;
	height: 25px;
    font-size: 18px;
    color: #333333;
}

.recommandbox .recommandboxcontent .recommandboxcontentdiv2 ul li div {
    margin-top: 5px;
    margin-right: 5px;
    width: 1px;
    height: 16px;
    font-size: 0;
    border-right: solid 1px #e0e0e0;
}


.recommandbox .recommandboxcontent .recommandboxcontentdiv3 {
    margin-left: 93px;
    margin-top: 1px;
    width: 64px;
	height: 23px;
    font-size: 16px;
    color: #00a4ff;
}

.coursehead {
    margin-top: 32px;
    width: 1200px;
    height: 45px;
}

.coursehead .courseheadcontent {
    display: flex;
    width: 1200px;
    height: 30px;
    
}

.coursehead .courseheadcontent .courseheadcontenth {
    display: flex;
    width: 1124px;
    height: 30px;
    font-size: 21px;
    color: #333333;
    font-weight: 400;
}

.coursehead .courseheadcontent .courseheadcontenth .courseheadcontenth1 {
    width: 200px;
	height: 30px;
    font-size: 21px;
    color: #333333;
    font-weight: 400;
}

.coursehead .courseheadcontent .courseheadcontenth .courseheadcontentbuchong {
    margin-top: 4px;
    margin-left: 246px;
    width: 308px;
	height: 23px;
}

.coursehead .courseheadcontent .courseheadcontentbuchong ul {
    display: flex;
    justify-content: space-between;
    width: 308px;
	height: 23px;
}

.coursehead .courseheadcontent .courseheadcontentbuchong ul li a{
    display: block;
    width: 32px;
	height: 23px;
    font-size: 16px;
    color: #333333;
}

.coursehead .courseheadcontent .courseheadcontentbuchong ul li .lia1 {
    display: block;
    width: 32px;
	height: 23px;
    font-size: 16px;
    color: #00a4ff;
}

.coursehead .courseheadcontent .courseheadcontentbuchong ul li a:hover {
    display: block;
    width: 32px;
	height: 23px;
    font-size: 16px;
    color: #00a4ff;
}

.coursehead .courseheadcontent .courseheadcontents {
    display: flex;
    margin-top: 5px;
    width: 76px;
	height: 20px;
}

.coursehead .courseheadcontent .courseheadcontents .courseheadcontentsa1 {
    display: block;
    width: 66px;
    font-size: 14px;
    color: #999999;
}

.coursehead .courseheadcontent .courseheadcontents .courseheadcontentsa2 {
    display: block;
    width: 10px;
    height: 10px;
    color: #999999;
}

.coursebody {
    width: 1200px;
	height: 556px;
    margin-bottom: 32px;
}

.coursebody ul {
    height: 556px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}

.coursebody ul li {
    width: 228px;
	height: 271px;
    
}

.coursebody ul li .lipic {
    width: 228px;
	height: 156px;

}

.coursebody ul li .licon {
	width: 228px;
	height: 115px;
	background-color: #ffffff;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.coursebody ul li .licon .liconh {
    margin-bottom: 16px;
    width: 188px;
	height: 37px;
    font-size: 14px;
    color: #333333;
}

.coursebody ul li .licon .liconc {
    display: flex;
    width: 189px;
	height: 20px;
}

.coursebody ul li .licon .liconc .liconc1 {
    font-size: 14px;
    color: #fa6400;
    margin-right: 8px;
}

.coursebody ul li .licon .liconc .liconc2 {
    font-size: 14px;
    color: #999999;
    margin-right: 8px;
}

.coursebody ul li .licon .liconc .liconc3 {
    font-size: 14px;
    color: #999999;
}

.coursebody2 {
    display: flex;
    width: 1200px;
	height: 386px;
}

.coursebody2 .coursebody2pic1 {
    width: 228px;
	height: 386px;
    margin-right: 15px;
}

.coursebody2 .coursebody2pic2 a {
    display: block;
    width: 957px;
	height: 100px;
}
    

.coursebody2 .coursebody2content {
    width: 957px;
	height: 271px;
}

.coursebody2 .coursebody2content ul {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    width: 957px;
	height: 271px;
}

.coursebody2 .coursebody2content ul li {
    width: 228px;
	height: 271px; 
}

.coursebody2 ul li .lipic {
    width: 228px;
	height: 156px;

}

.coursebody2 ul li .licon {
	width: 228px;
	height: 115px;
	background-color: #ffffff;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.coursebody2 ul li .licon .liconh {
    margin-bottom: 16px;
    width: 188px;
	height: 37px;
    font-size: 14px;
    color: #333333;
}

.coursebody2 ul li .licon .liconc {
    display: flex;
    width: 189px;
	height: 20px;
}

.coursebody2 ul li .licon .liconc .liconc1 {
    font-size: 14px;
    color: #fa6400;
    margin-right: 8px;
}

.coursebody2 ul li .licon .liconc .liconc2 {
    font-size: 14px;
    color: #999999;
    margin-right: 8px;
}

.coursebody2 ul li .licon .liconc .liconc3 {
    font-size: 14px;
    color: #999999;
}

.coursebody3 {
    width: 1200px;
	height: 271px;
}

.coursebody3 ul {
    display: flex;
    justify-content: space-between;
}

.coursebody ul li {
    width: 228px;
	height: 271px;
    
}

.coursebody3 ul li .lipic {
    width: 228px;
	height: 156px;

}

.coursebody3 ul li .licon {
	width: 228px;
	height: 115px;
	background-color: #ffffff;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.coursebody3 ul li .licon .liconh {
    margin-bottom: 16px;
    width: 188px;
	height: 37px;
    font-size: 14px;
    color: #333333;
}

.coursebody3 ul li .licon .liconc {
    display: flex;
    width: 189px;
	height: 20px;
}

.coursebody3 ul li .licon .liconc .liconc1 {
    font-size: 14px;
    color: #fa6400;
    margin-right: 8px;
}

.coursebody3 ul li .licon .liconc .liconc2 {
    font-size: 14px;
    color: #999999;
    margin-right: 8px;
}

.coursebody3 ul li .licon .liconc .liconc3 {
    font-size: 14px;
    color: #999999;
}

.banquan {
    display: flex;
    margin-top: 60px;
    padding-top: 60px;
    padding-left: 240px;
    padding-right: 360px;
    height: 273px;
	background-color: #ffffff;
}

.banquan .banquancontent1 {
    margin-right: 252px;
    width: 432px;
	height: 148px;
}

.banquan .banquancontent1 .banquancontent1pic {
    margin-bottom: 24px;
    width: 195px;
	height: 41px;
    background-image: url(../images/logo.png);
    background-repeat: no-repeat;
}

.banquan .banquancontent1 p {
    width: 432px;
	height: 33px;
    font-size: 12px;
    color: #666666;
    margin-bottom: 14px;
}

.banquan .banquancontent1 a {
    display: block;
    padding: 7px 29px;
    width: 120px;
	height: 36px;
    border: solid 1px #00a4ff;
}

.banquan .banquancontent1 a .banquancontent1bottom {
    width: 63px;
	height: 23px;
    font-size: 16px;
    color: #00a4ff;
}

.banquan .banquancontent2 {
    display: flex;
    width: 516px;
	height: 151px;

}

.banquan .banquancontent2 .dl1 {
    margin-right: 130px;
    width: 80px;
	height: 151px;
}

.banquan .banquancontent2 .dl1 dt {
    margin-bottom: 12px;
    width: 80px;
	height: 23px;
    font-size: 16px;
    color: #333333;
}

.banquan .banquancontent2 .dl1 dd {
    width: 56px;
	height: 23.2px;
    font-size: 14px;
    color: #666666;
}

.banquan .banquancontent2 .dl2 {
    margin-right: 130px;
    width: 112px;
	height: 151px;
}

.banquan .banquancontent2 .dl2 dt {
    margin-bottom: 12px;
    width: 64px;
	height: 23px;
    font-size: 16px;
    color: #333333;
}

.banquan .banquancontent2 .dl2 dd {
    width: 112px;
	height: 23.2px;
    font-size: 14px;
    color: #666666;
}
.banquan .banquancontent2 .dl3 {
    width: 64px;
	height: 79px;
}

.banquan .banquancontent2 .dl3 dt {
    margin-bottom: 12px;
    width: 64px;
	height: 23px;
    font-size: 16px;
    color: #333333;
}

.banquan .banquancontent2 .dl3 dd {
    width: 56px;
	height: 22px;
    font-size: 14px;
    color: #666666;
}




